<div class="container">
  <div class="jumbotron">
    <h1>Log In</h1>
  </div>
</div>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="container">
    <p>
      <%= f.label :email %><br />
      <%= f.email_field :email, :placeholder => "Email" %>
    </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :placeholder => "Password" %><br />
    </p>

    <p>
      <%= f.label 'Keep Me Signed In' %>
      <%= f.check_box :persist %>
    </p>

    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
     Log In <i class="fa fa-sign-in"></i>
    <% end %>
  </div>
<% end %>
