<div class="container">
  <div class="jumbotron">
    <h1><%= current_user.name %>'s Dashboard</h1>
  </div>

  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h2>Users <i class="fa fa-user-md"></i></h2>
      </div>
      <p>There are <%= link_to "#{User.count} registered Users.", users_path %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h2>Patients <i class="fa fa-medkit" aria-hidden="true"></i></h2>
      </div>
      <p>There are <%= link_to "#{Patient.count} registered Patients.", patients_path %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h2>Hospitals <i class="fa fa-hospital-o" aria-hidden="true"></i></h2>
      </div>
      <p>There are <%= link_to "#{Hospital.count} registered Hospitals.", hospitals_path %></p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h2>Registrations <i class="fa fa-link" aria-hidden="true"></i></h2>
      </div>
      <p>There are <%= link_to "#{Doctorlist.count} registered associtations.", doctorlists_path(context: "admin") %></p>
    </div>
  </div>
</div>
