<div class="col-md-1">
  <div class="navbar navbar-inverse navbar-stacked navbar-fixed-left">
    <ul class="nav navbar-nav">
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Index", users_path %></li>
          <li><%= link_to "Export JSON", controller: 'users', action: 'index', format: 'json' %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Patients
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Index/Search", controller: :patients, action: :adminindex %></li>
          <li><%= link_to "JSON Export", controller: 'patients', action: 'adminindex', format: 'json' %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hospitals
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Search Hospitals", hospitals_path %></li>
          <li><%= link_to "New Hospital", new_hospital_path %></li>
          <li><%= link_to "Export JSON", controller: 'hospitals', action: 'index', format: 'json' %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
