<div class="container">
  <div class="jumbotron">
    <h1><%= current_user.name %>'s Dashboard</h1>
  </div>

  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h1>Users</h1>
      </div>
      <p>There are <%= User.count %> Registered Users.</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h1>Patients</h1>
      </div>
      <p>There are <%= Patient.count %> registered Patients.</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h1>Hospitals</h1>
      </div>
      <p>There are <%= Hospital.count %> registered Hospitals</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="dashpanel">
      <div class="page-header">
        <h1>Doctor-Hospital Registrations</h1>
      </div>
      <p>There are <%= Doctorlist.count %> registered associtations.</p>
    </div>
  </div>
</div>
