<% if current_user.admin %>

<div class="container-fluid">
  <div class="row">

    <!-- Lefthand Column -->
    <div class="col-sm-2">
      <div class="page-header">
        <h1>Hospital Registry</h1>
      </div>
      <p><%= link_to "Search Hospitals", hospitals_path %></p>

      <div class="page-header">
        <h1>Add Hospital</h1>
      </div>
      <p><%= link_to "New Hospital", new_hospital_path %></p>
    </div>

    <div class="page-header">
      <h1>Doctor-Hospital Registry</h1>
    </div>
    <p><%= link_to "Registry", doctorlists_path %></p>

    <!-- Center Column -->
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1><%= current_user.name %>'s Dashboard</h1>
      </div>
        <div class="page-header">
          <h1>User Index</h1>
        </div>
        <p>
          <%= link_to "User List", users_path %>
        </p>
    </div>

    <!-- Righthand Column -->
    <div class="col-sm-2">
      <div class="page-header">
        <h2>Patients Index</h2>
      </div>
      <p>
        <%= link_to "Patient List", controller: :patients, action: :adminindex %>
      </p>

      <div class="page-header">
        <h2>Export All Patients</h2>
      </div>
      <p><%= link_to "JSON Export", controller: 'patients', action: 'adminindex', format: 'json' %></p>
    </div>

  </div>
</div>

<% else %>

<div class="container-fluid">
  <div class="row">

    <!-- Lefthand Column -->
    <div class="col-sm-2">
      <div class="page-header">
        <h1>Hospital Registry</h1>
      </div>
      <p><%= link_to "Search Hospitals", hospitals_path %></p>

      <div class="page-header">
        <h1>Your Hospital Registrations</h1>
      </div>
      <p><%= link_to "Registry", doctor_registrations_path %></p>
    </div>

    <!-- Center Column -->
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1><%= current_user.name %>'s Dashboard</h1>
      </div>
      <div class="page-header">
        <h1>Enter New Patient</h1>
      </div>
      <button class="btn btn-default"><%= link_to "New Patient Entry", new_patient_path %> <span class="glyphicon glyphicon-pencil"></span></button>

      <div class="page-header">
        <h1>Your Patient Directory</h1>
      </div>
      <%= render 'layouts/patientsindex' %>
    </div>

    <!-- Righthand Column -->
    <div class="col-sm-2">

      <div class="page-header">
        <h1>Import Patients</h1>
      </div>
      <p><%= link_to 'Import Patient UI', importui_path %></p>

    </div>

  </div>
</div>

<% end %>
