<div class="container">
  <div class="jumbotron">
    <h1>Sign Up</h1>
    <hr />
    <h2>New Medical Professional</h2>
  </div>
</div>

<div class="container">
    <% if @user.errors.any? %>
      <div class="page-header">
        <h2><%= pluralize(@user.errors.count, "error") %></h2>
      </div>
      <% @user.errors.full_messages.each do |msg| %>
        <p>
          <%= msg %>
        </p>
      <% end %>
  <% end %>
</div>


<div class="container">
  <%= form_for @user do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>

  <%= f.check_box :admin, {checked: false, style: "display:none;"}%>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Register" %>
  <% end %>
</div>
