<div class="container">
  <div class="jumbotron">
    <h2><%= @user.name %></h2>
  </div>

  <div class="page-header">
    <h3>Address:</h3>
  </div>
  <p>
    <%= @user.street_address %>,
    <%= @user.city %>
    <%= @user.state %>
    <%= @user.zipcode %>
  </p>

  <div class="mapdiv">
    <small>Google Map will be here</small>
  </div>
</div>
