<% if @patient.medications.any? %>

<br />

  <% @medications.reverse_each do |medication| %>

  <div class="hovertip"><%= link_to medication.name, medication %>
    <span class="hovertiptext"><%= medication.name %><br />
      Dosage: <%= medication.dosage %> <br />
      Refills: <%= medication.refills %>
     </span>
  </div>
  <br />

  <% end %>

  <%= will_paginate @medications %>

<% end %>
