<div class="container">
  <div class="jumbotron">
    <h1><%= @patient.name %>'s <%= @medication.name %> Perscription</h1>
    <hr />
    <%= button_to "Return to Patient", patient_path(@patient), method: :get, :class => "btn btn-default" %>
  </div>

  <div class="page-header">
    <h3>Dosage:</h3>
  </div>
  <p><%= @medication.dosage %></p>

  <div class="page-header">
    <h3>Refills:</h3>
  </div>
  <p><%= @medication.refills %></p>

  <br />
  <% if @patient.user_id == current_user.id %>
  <%= button_to "Edit Prescription", edit_medication_path(@medication), method: :get, :class => "btn btn-default" %>
  <%= button_to "Delete Medication", medication_path(@medication), method: 'delete', :class => "btn btn-default" %>
  <% end %>
</div>
