<% if @patient_notes.any? %>
  <% @patient_notes.reverse_each do |patient_note| %>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <h4>Date Created</h4>
        <p>
          <%= patient_note.created_at.strftime('%B %d, %Y') %>
        </p>
      </div>
      <div class="col-sm-4">
        <h4>Note</h4>
        <p>
          <%= truncate(patient_note.note, length: 75) %>
          <% if patient_note.note.length >= 75 %>
          <small><%= link_to "Show Full", patient_note_path(patient_note) %></small>
          <% end %>
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Physician</h4>
        <p>
          <%= link_to User.find(patient_note.user_id).name, user_path(User.find(patient_note.user_id)) %>
        </p>
      </div>
      <div class="col-sm-1"></div>
      <% if User.find(@patient.user_id) == current_user.id || User.find(@patient.primary_care_physician) == current_user %>
      <h4>Actions</h4>
      <small><%= link_to "Edit", edit_user_patient_patient_note_path(current_user, @patient, patient_note) %></small><br />
      <small><%= link_to "Delete", user_patient_patient_note_path(current_user, @patient, patient_note), method: :delete %></small><br />
      <% end %>
    </div>
  <% end %>

  <div class="digg_pagination">
    <%= will_paginate @patient_notes %>
  </div>

<% else %>
  <h5><%= @patient.name %> Currently has no associated notes.</h5>
<% end %>
