<%= form_for @patient_note do |f| %>

<div class="container">
  <div class="jumbotron">
    <h1>Patient Notes</h1>
    <hr />
    <small><%= @patient.name %></small>
  </div>

  <% if @patient_note.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@patient_note.errors.count, "error") %>
      </h2>
        <% @patient_note.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
    </div>
  <% end %>

  <div class="page-header">
    <h2>Notes:</h2>
  </div>
  <p><%= f.text_area :note, class: 'textbox' %></p>

  <p>
    <%= hidden_field_tag(:patient_id, @patient.id) %>
    <%= f.text_field :user_id, value: @user.id, style: "display: none;" %>
    <%= f.submit "Submit" %>
  </p>

</div>

<% end %>
