<div class="jumbotron">
  <h1>All Patients Index</h1>
</div>

<% if @patients.any? %>

<div class="container">
  <%= form_tag(patients_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Patients" %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-default"%>
  <% end %>

  <br />
</div>

<br />

  <div class="container">
    <div class="page-header">
      <h3>Search Results</h3>
    </div>
  </div>

  <% @patients.each do |patient| %>

  <div class="hovertip"><%= link_to patient.name, patient %>
    <span class="hovertiptext"><%= patient.name %><br />
      Physician: <%= User.find(patient.user_id).name %><br />
      Age: <%= patient.find_age %> <br />
      Phone: <%= number_to_phone(patient.phone_number, area_code: true) %>
     </span>
  </div>
  <br />

  <% end %>

  <%= will_paginate @patients %>

<% else %>

<div class="container">
  <div class="page-header">
    <h3>Search Results</h3>
  </div>
  <p>No patients could be found with the search "<%= params[:search] %>".</p>
</div>
<% end %>
