<div class="col-md-11">
  <div class="container">
    <div class="jumbotron">
      <h2>Import Medical Records</h2>
    </div>
  </div>

  <div class="container">
    <%= form_tag(patients_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Patients" %>
        <br />
        <br />
        <%= submit_tag "Search", :name => nil, :class => "btn btn-default"%>
    <% end %>
    <hr />
  </div>

  <div class="container">
    <h3>Results:</h3>

  <% @patients.each do |patient| %>

    <p>
      <%= link_to patient.name, patient %>    <br />
        <small><%= User.find(patient.user_id).name %></small>
    </p>
  </div>

  <% end %>

</div>
