<div class="container">
  <div class="jumbotron">
    <h1>Your Patients Index</h1>
  </div>
</div>

<% if @patients.any? %>

<div class="container">

  <button class="btn btn-default"><%= link_to "New Patient Entry", new_patient_path %></button>
</div>

<br />

  <div class="container">
    <div class="page-header">
      <h3>Search Results</h3>
    </div>
  </div>

  <% @patients.each do |patient| %>

  <div class="hovertip"><%= link_to patient.name, patient %>
    <span class="hovertiptext"><%= patient.name %><br />
      Physician: <%= User.find(patient.user_id).name %><br />
      Age: <%= patient.find_age %> <br />
      Phone: <%= number_to_phone(patient.phone_number, area_code: true) %>
     </span>
  </div>
  <br />

  <% end %>

  <%= will_paginate @patients %>

<% else %>

  <% if !params[:search] %>
    <div class="page-header">
      <h3>No Patients Registered.</h3>
    </div>
    <p>
      You are not currently marked as the active doctor on any patients.
    </p>

  <% else %>

  <div class="container">
    <div class="page-header">
      <h3>Search Results</h3>
    </div>
    <p>No patients could be found with the search "<%= params[:search] %>".</p>
  </div>

  <% end %>

<% end %>
