<div class="container-fluid">
  <div class="page-header">
    <h1>New Patient Entry Form</h1>
  </div>
  <%= form_for @patient do |f| %>


  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@patient.errors.count, "error") %>
      </h2>
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Patient Name" %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label "Date of Birth" %><br />
    <%= f.text_field :date_of_birth, :class => 'datepicker' %>
  </p>

  <p>
    <%= f.label "Phone Number" %><br />
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label "Medical History Notes" %><br />
    <%= f.text_area :medical_history %>
  </p>

  <p>
    <%= f.label "Medication" %><br />
    <%= f.text_area :medication %>
  </p>

  <%= f.submit "Submit Patient" %>

  <% end %>

</div>
