<div class="container">
  <div class="jumbotron">
    <h1><%= @patient.name %></h1>
    <% if @patient.user_id == current_user.id %>
      <button class="btn btn-default"><%= link_to "Edit Patient Info", edit_patient_path(@patient) %> <span class="glyphicon glyphicon-edit"></span></button>
      <button><%= link_to 'Expot JSON', controller: 'users', action: 'exportpatient', id: @patient.id, format: 'json' %></button>
    <% end %>
    <% if @patient.user_id != current_user.id %>
      <%= button_to "Import Patient", :controller => 'users', :action => "importpatient" %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient DOB:</h4>
      </div>
      <p><%= @patient.date_of_birth %></p>
    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient Phone Number:</h4>
      </div>
      <p><%= @patient.phone_number %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
      <h4>Medical History:</h4>
  </div>
  <p>
    <%= @patient.medical_history %>
  </p>

</div>

<div class="container">
  <div class="page-header">
    <h4>Medications:</h4>
  </div>
  <p>
    <%= @patient.medication %>
  </p>
</div>
