<div class="container">
  <div class="jumbotron">
    <h1><%= @patient.name %></h1>
    <hr />
    <p>Primary Care Physician: <br />
      <%= link_to User.find(@patient.user_id).name, user_path(User.find(@patient.user_id)) %>
    </p>
    <% if current_user.admin %>
      <button class="btn btn-default"><%= link_to "Edit Patient Info", edit_patient_path(@patient) %> <span class="glyphicon glyphicon-edit"></span></button>
      <button><%= link_to 'Export JSON', controller: 'patients', action: 'show', format: 'json' %></button>
    <% end %>
    <% if @patient.user_id != current_user.id && !current_user.admin%>
      <%= button_to "Import Patient", :controller => 'patients', :action => "importpatient" %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient Date of Birth:</h4>
      </div>
      <p><%= @patient.date_of_birth %></p>
    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient Phone Number:</h4>
      </div>
      <p><%= @patient.phone_number %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
      <h4>Medical History:</h4>
  </div>
  <p>
    <%= @patient.medical_history %>
  </p>
</div>

<div class="container">
  <div class="page-header">
    <h4>Medications</h4>
  </div>
  <% if @patient.user_id == @current_user.id && !current_user.admin %>
  <button class="btn-default"><%= link_to "Add Prescription", new_medication_path(:patient_id => @patient.id) %></button>
  <% end %>
  <% if @patient.medications.any? %>
    <%= render 'layouts/medicationindex' %>
  <% else %>
    <p>
      No known medications.
    </p>
  <% end %>
</div>
