<div class="container">
  <div class="jumbotron">
    <h1><%= @patient.name %></h1>
    <hr />
    <p>Primary Care Physician: <br />
      <%= link_to User.find(@patient.primary_care_physician).name, user_path(User.find(@patient.primary_care_physician)) %>
    </p>
    <% if @patient.primary_care_physician != @patient.user_id %>
    <p>
      Current Physician: <br />
      <%= link_to User.find(@patient.user_id).name, user_path(User.find(@patient.user_id)) %>
    </p>
    <% end %>
    <% if @patient.user_id == current_user.id %>
    <%= button_to "Edit Patient", edit_patient_path(@patient), method: 'get', :class => "btn btn-default" %>
    <% end %>
    <% if current_user.admin %>
      <button class="btn btn-default"><%= link_to 'Export JSON', controller: 'patients', action: 'show', format: 'json' %></button>
    <% end %>
    <% if @patient.user_id != current_user.id && !current_user.admin%>
      <%= button_to "Import Patient", :controller => 'patients', :action => "importpatient" %>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient Date of Birth:</h4>
      </div>
      <p><%= @patient.date_of_birth %> (<%= @patient.find_age %> years old)</p>
    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h4>Patient Phone Number:</h4>
      </div>
      <p><%= number_to_phone(@patient.phone_number, area_code: true) %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h4>Patient Notes</h4>
  </div>
  <% if @patient.user_id == @current_user.id %>
    <button class="btn btn-default"><%= link_to "New Note", new_patient_note_path(:patient_id => @patient.id) %>
      <i class="fa fa-plus"></i></button>
    <% end %>
  <%= render "patient_notes/index" %>
</div>


<div class="container">
  <div class="page-header">
    <h4>Medications</h4>
  </div>
  <% if @patient.user_id == @current_user.id && !current_user.admin %>
  <button class="btn-default"><%= link_to "Add Prescription", new_medication_path(:patient_id => @patient.id) %>
  <i class="fa fa-medkit"></i></button>
  <% end %>
  <% if @patient.medications.any? %>
    <%= render 'medications/medicationindex' %>
  <% else %>
    <p>No known medications.</p>
  <% end %>
</div>
