<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChartPort MD | <%= @page_title %></title>
    <%= include_gon(:init => true) %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.admin %>
        <%= render 'users/adminnav' %>
      <% else%>
        <%= render 'users/usernav' %>
      <% end %>
    <% else %>
      <%= render "pages/no_user_navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
