<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChartPort MD | <%= @page_title %></title>
    <link href="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-198631194437/medlog-service/favicon.ico"
      rel="icon" type="image/x-icon">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="public/cerulean.min.css"  />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.admin %>
        <%= render 'users/adminnav' %>
      <% else%>
        <%= render 'users/usernav' %>
      <% end %>
    <% else %>
      <%= render "pages/no_user_navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
